[Unit]
Description=UK Sponsor Reach Daily Job
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/sradmin/sponsor-reach
ExecStart=/home/sradmin/sponsor-reach/.venv/bin/python /home/sradmin/sponsor-reach/main.py
User=sradmin
